body {
    width: 95%;
    height: 100%;
    opacity: 100%;
    background-image: url("/assets/img/friesburgerwallpaper.jpg");
    background-repeat: repeat
  }
  
  #burgericon {
    border: wheat 5px solid;
    background-color: rgb(250, 241, 225);
    width: 150px;
    height: 130px;
    margin-top: -5px;
    float: center;
    margin-bottom: 15px;
  }
 
  .wrapper {
    margin-top: 23px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: rgb(243, 220, 9);
    border:  wheat 5px solid;
  }

  #top-bar {
    margin-top: 28px;
    margin-bottom: 15px;
  }
  
  .spacing-reset {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  .list-reset {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: 0;
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 990px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 990px;
    }
  }
  
  .enter_section {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  #enter_text {
    width: 400px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-size: 24px;
  }
  
  .task {
    border-color: black;
    border-style: solid;
    border-width: 3px;
  }
  
  .button-size {
    padding-bottom: 20px;
  }
  
  .btn-default {
    background-color: rgb(245, 69, 16);
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    align-items: center;
  }

  .devour-form{
    margin-left: 130px;
    margin-top: -50px;
  }
  
  pre {
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px;
  }
  

  #text-enter-button {
    margin-top: 10px;
    margin-bottom: 18px;
    background-color: tomato;
    border:white solid 2px;
    font-size: 16px;
    font-weight: 600;
  }
  
  h1 {
    color: #f30;
    font-weight: 650;
    margin-bottom: 15px;
  }
  
